[Unit]
Description=Mosquitto Broker Container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker run -p 8883:8883 --name mqtt-broker -v broker_data:/mqtt/data -v broker_config:/mqtt/config -v broker_log:/mqtt/log origox/mqttbroker:1
ExecStop=/usr/bin/docker stop -t 2 mqtt-broker
ExecStopPost=/usr/bin/docker rm -f mqtt-broker

[Install]
WantedBy=multi-user.target